{{log 'boons-and-banes-template' this}}
<form>
    <div class="effect-list">
        <button type="button" class="collapsible">Effect</button>
        <div class="content">
            <p>Effects</p>
        </div>
        <button type="button" class="collapsible">Expiration</button>
        <div class="content">
            <p>Expiration</p>
        </div>
        <button type="button" class="collapsible">Miscellaneous</button>
        <div class="content">
            <p>Miscellaneous</p>
        </div>
    </div>
    <p><b>Builder  Active  Name  Description  Effect  Value  Duration  End  On Turn  Delete</b></p>
    <br>
    {{#each boonsnbanes}}
    <li class="flexrow" data-boons-and-banes-id="{{id}}">
            
        <select value="{{effectBuilder}}" name="{{id}}.effectBuilder" title="{{localize "BOONS-AND-BANES.effect-builder"}}">
        {{#select effectBuilder}}
            <option value="Builder">Builder</option>
            <option value="Original">Original</option>
            <option value="Codings">Codings</option>
        {{/select}}
        </select>

        <input type="checkbox" name="{{id}}.active" data-dtype="Boolean" {{checked active}} title="{{localize "BOONS-AND-BANES.is-active"}}"/>

        <input type="text" value="{{label}}" name="{{id}}.label" data-dtype="String" placeholder="Name" title="{{localize "BOONS-AND-BANES.effect-label"}}"/>

        <button type="button" data-action="edit-description" title="{{localize "BOONS-AND-BANES.effect-description"}}"><i class="fas fa-plus"></i></button>
        
        <input type="text" value="{{effect}}" name="{{id}}.effect" data-dtype="String" placeholder="Effect" title="{{localize "BOONS-AND-BANES.effect-coding"}}"/>
        
        <input type="text" value="{{value}}" name="{{id}}.value" data-dtype="String" placeholder="Value" title="{{localize "BOONS-AND-BANES.effect-value"}}"/>

        <select value="{{endCondition}}" name="{{id}}.endCondition" title="{{localize "BOONS-AND-BANES.end-condition"}}">
        {{#select endCondition}}
            <option value="Passive">Passive</option>
            <option value="Duration">Duration</option>
            <option value="SavingThrow">Saving Throw</option>
            <option value="DamageTaken">Damage Taken</option>
        {{/select}}
        </select>

        <input type="text" value="{{duration}}" name="{{id}}.duration" data-dtype="String" placeholder="" title="{{localize "BOONS-AND-BANES.effect-duration"}}"/>
        
        <select value="{{endsAt}}" name="{{id}}.endsAt" title="{{localize "BOONS-AND-BANES.end-timing"}}">
        {{#select endsAt}}
            <option value="Beginning">Beginning</option>
            <option value="End">End</option>
        {{/select}}
        </select>

        <select value="{{endsWith}}" name="{{id}}.endsWith" title="{{localize "BOONS-AND-BANES.end-actor"}}">
        {{#select endsWith}}
            <option value="Source">Source</option>
            <option value="Target">Target</option>
        {{/select}}
        </select>

    <button type="button"  data-action="delete" class="flex0 boons-and-banes-icon-button" title="{{localize "BOONS-AND-BANES.delete-effect"}}">
        <i class="fas fa-trash" color = "black"></i>
    </button>
    </li>
    
  {{/each}}

  <button type="button" data-action="create"><i class="fas fa-plus"></i> {{localize "BOONS-AND-BANES.add-effect"}}</button>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }
        });
        }
    </script>
</form>