{{log 'boons-and-banes-template' this}}
<form>
    <!-- List of Boons and Banes -->
    <div class="effect-list"></div>
        {{#each boonsnbanes}}
            <li class="flexrow" data-boons-and-banes-id="{{id}}">

                <input type="text" data-action="select" value="{{label}}" data-dtype="String" placeholder="Name" title="{{localize "BOONS-AND-BANES.effect-label"}}" readonly/>
                <input type="text" data-action="select" value="{{id}}" data-dtype="String" placeholder="Effect ID" title="{{localize "BOONS-AND-BANES.effect-label"}}" readonly/>
                <button type="button" data-action="delete" class="flex0 boons-and-banes-icon-button" title="{{localize "BOONS-AND-BANES.delete-effect"}}">
                    <i class="fas fa-trash" color = "black"></i>
                </button>
            </li>
        {{/each}}
    </div>
    <br>

    <!-- Add effect -->
    <button type="button" data-action="create"><i class="fas fa-plus"></i> {{localize "BOONS-AND-BANES.add-effect"}}</button>
    <br>
    <br>

    {{#with selectedBoon}}
    <!-- Edit selected effect -->
    <div class="effect-details">
    <br>
        <!-- General Section -->
        <div class = "general-section">
            <button type="button" class="collapsible">General</button>
            <div class="content">

                <!-- Is Active -->
                <input type="checkbox" name="{{id}}.active" data-dtype="Boolean" {{checked active}} title="{{localize "BOONS-AND-BANES.is-active"}}"/>Active

                <!-- Effect Label -->
                <input type="text" value="{{label}}" name="{{id}}.label" data-dtype="String" placeholder="Name" title="{{localize "BOONS-AND-BANES.effect-label"}}"/>
                
                <!-- Effect Description -->
                <textarea name="{{id}}.description" data-dtype="String" placeholder="Description" title="{{localize "BOONS-AND-BANES.effect-description"}}" cols="40" rows="5">{{description}}</textarea>
            </div>
        </div>
        <br>

        <!-- Effect Section -->
        <div class = "effect-section">
            <br>
            <button type="button" class="collapsible">Effect</button>
            <div class="content">
                <li class="flexrow" data-boons-and-banes-id="{{id}}">
                    
                <!-- Choose which interface to use to build the effect -->
                <select value="{{effectBuilder}}" name="{{id}}.effectBuilder" title="{{localize "BOONS-AND-BANES.effect-builder"}}">
                {{#select effectBuilder}}
                    <option value="Builder">Builder</option>
                    <option value="Original">Original</option>
                    <option value="Codings">Codings</option>
                {{/select}}
                </select>

                <!-- The effect to apply -->
                <input type="text" value="{{effect}}" name="{{id}}.effect" data-dtype="String" placeholder="Effect" title="{{localize "BOONS-AND-BANES.effect-coding"}}"/>
            
                <!-- Value associated with the effect -->
                <input type="text" value="{{value}}" name="{{id}}.value" data-dtype="String" placeholder="Value" title="{{localize "BOONS-AND-BANES.effect-value"}}"/>

                </li>
            </div>
            <br>
        </div>

        <!-- Expiration Section -->
        <div class = "expiration-section">
            <br>
            <button type="button" class="collapsible">Expiration</button>
            <div class="content">

                <li class="flexrow" data-boons-and-banes-id="{{id}}">

                    <!-- Input for how long an effect should last -->
                    <input type="text" value="{{duration}}" name="{{id}}.duration" data-dtype="String" placeholder="" title="{{localize "BOONS-AND-BANES.effect-duration"}}"/>

                    <!-- The time scale of the input -->
                    <select value="{{timeScale}}" name="{{id}}.timeScale" title="{{localize "BOONS-AND-BANES.end-condition"}}">
                        {{#select timeScale}}
                            <option value="seconds">Seconds</option>
                            <option value="rounds">Rounds</option>
                            <option value="hours">Hours</option>
                            <option value="days">Days</option>
                        {{/select}}
                    </select>

                    <!-- What type of expiration to add -->
                    <select value="{{endCondition}}" name="{{id}}.endCondition" title="{{localize "BOONS-AND-BANES.end-condition"}}">
                        {{#select endCondition}}
                            <option value="Passive">Passive</option>
                            <option value="Duration">Duration</option>
                            <option value="SavingThrow">Saving Throw</option>
                            <option value="DamageTaken">Damage Taken</option>
                        {{/select}}
                    </select>

                    <!-- When during the turn the effect should end --><!-- Which turn the effect should end, the target actor of the effect or its source actor -->
                    <select value="{{endsAt}}" name="{{id}}.endsAt" title="{{localize "BOONS-AND-BANES.end-timing"}}">
                    {{#select endsAt}}
                        <option value="Beginning">Beginning</option>
                        <option value="End">End</option>
                    {{/select}}
                    </select>

                    <!-- Which turn the effect should end, the target actor of the effect or its source actor -->
                    <select value="{{endsWith}}" name="{{id}}.endsWith" title="{{localize "BOONS-AND-BANES.end-actor"}}">
                    {{#select endsWith}}
                        <option value="Source">Source</option>
                        <option value="Target">Target</option>
                    {{/select}}
                    </select>
                </li>
            </div>
        <br>
        </div>
    </div>
    {{/with}}

    <!-- Script for collapsible element -->
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }
        });
        }
    </script>
</form>